@media screen and (min-width:600px) {
    body {
        margin: 0;

    }

    a {
        text-decoration: none;

    }

    /* main grid */
    #main-grid {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-areas:
            'header header header header'
            'side-bar main main main'
            'side-bar main main main'
            'footer footer footer footer';
    }

    /*header*/
    #header {
        grid-area: header;
        background-color: #9ad4f8;
        border: 3px white solid;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;


    }

    .media {
        justify-content: center;

    }

    #github {
        width: 10vw;
        height: 19vh;

    }

    #facebook {
        width: 7vw;
        height: 13vh;

    }

    #linkdin {
        width: 7vw;
        height: 13vh;

    }

    /* sidebar */

    #side-bar {
        grid-area: side-bar;
        background-color: #9ad4f8;
        border: 3px white solid;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    #menu {
        width: 100%;
        justify-content: right;
        flex-direction: column;
    }

    #listmenu {
        direction: rtl;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
    }

    #listmenu>li {
        list-style: none;
        text-decoration: none;
    }


    /* main */

    #main {
        grid-area: main;
        background-color: #d2e9fb;
        border: 3px white solid;
        display: flex;
        direction: rtl;
    }

    .boxmain {
        width: 40vw;
        flex-direction: column;
        direction: rtl;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: #98d3ce 2px solid;
    }

    #project {
        display: flex
    }

    .proj {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 15px;
    }

    .img {
        width: 30%;
    }

    #textphoto {

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: space-between;
    }

    #ME {
        transition: all 1s;
        border-radius: 50%;
        width: 10vw;
    }

    #ME:hover {
        width: 12vw;
        border-radius: 70%;
        filter: drop-shadow(4px 4px 4px black);
    }

    #album {
        border: 3px #98d3ce solid;
        align-self: flex-end;
        background-image: url(/img/1.jpg);
        background-size: cover;
        display: flex;
        width: 35vw;
        height: 50vh;
        animation-name: album;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes album {
        0% {
            background-image: url(/img/1.jpg);
        }

        20% {
            background-image: url(/img/3.jpg);
        }

        40% {
            background-image: url(/img/4.jpg);
        }

        60% {
            background-image: url(/img/6.jpeg);
        }

        80% {
            background-image: url(/img/8.jpeg);
        }

        100% {
            background-image: url(/img/1.jpg);
        }
    }

    /* footer  */
    #footer {
        grid-area: footer;
        background-color: #9ad4f8;
        border: 3px white solid;
        height: 14vh;
    }

    #conect {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }

    .ftr {
        height: 15%;
    }

    #content {
        width: 100vw;
        height: 30vh;
    }

    #phone {
        width: 4vw;
        height: 6vh;
    }

    #mail {
        width: 4vw;
        height: 4vh;
    }
}